@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=DM+Sans:wght@400;700&family=DM+Serif+Display&family=Libre+Baskerville&family=Montserrat:wght@400;700&family=Oxanium&family=Poppins:wght@400;600&display=swap');

main, body, div, p {
    font-family: 'DM Sans'
}

.info_ {
    position: absolute;
    display: block;
    bottom: 18%;

    @media screen and (min-width: 1440px) {
        bottom: 17%;
    }

    @media screen and (max-width:766px) {
        position: absolute;
        display: block;
        bottom: 30%;
        left: 49%;
        color: #fff;
        z-index: 999;
        margin: 0 auto;
        transform: translate(-50%, -15%);
        width: 75%;
    }

    left: 49%;
    // width: 100%;
    color: #fff;
    z-index: 999;
    margin: 0 auto;
    transform: translate(-50%,
        -15%);
    width: fit-content;

    // @media screen and (max-width: 766px) {
    //   // bottom: 16px;
    //   width: 100%;
    //   margin-bottom: 12px;
    //   bottom: 10%;
    //   // border: 1px solid;
    // }
    @media screen and (max-width: 739px) {
        // bottom: 16px;
        width: 100%;
        margin-bottom: 12px;
        bottom: 20%;
        // border: 1px solid;
    }

    // text-align: center;
    h2 {
        font-weight: bold;
        font-size: 30px;
        text-shadow: 2px 2px black;
        text-align: center;
        font-family: 'DM Sans';

        @media screen and (min-width: 1440px) {
            font-size: 45px;
        }

        @media screen and (max-width: 766px) {
            font-size: 2rem;
            margin: 0 8px;
            text-align: center;
        }
    }

    // background: rgba(0, 0, 0, 0.6);
    // padding: 4px 0;
    // }
}
.creator {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);

    @media screen and (min-width: 1440px) {
        transform: translate(-50%, -15%);
    }

    @media screen and (max-width:766px) {
        transform: translate(-50%, -50%);
    }

    width: auto;
    text-align: center;
    color: #fafafa;
    // bottom: 240px;
    font-weight: bold;
    // background: rgba($color: #000000, $alpha: 0.3);
    padding: 8px;
    // text-shadow: 2px 2px #000;
    z-index: 999;

    // border: 2px solid;
    // &:after {
    //   content: '';
    //   border: 2px solid red;
    //   width: 80%;
    // }
    span,
    div {
        // color: #c3e6ff;
        // border-bottom: 1px solid;
        /* text-shadow: 1px 1px white; */
        font-size: 15px;

        @media screen and (min-width: 1440px) {
            font-size: 18px;
        }

        @media screen and (max-width: 766px) {
            // bottom: 120px;
            // width: 255px;
            // left: 8px;
            font-size: 14px;
        }
    }
}
@import 'galeri';