.background {
  margin: 0 auto;
  text-align: center;
  display: block;
  height: 100vh;
  position: relative;
  z-index: 999;
}
.background img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.section {
  display: flex;
  min-height: 100vh;
  position: relative;
  z-index: 2;
  &-text {
    // backdrop-filter: blur(6px);
    // margin: 0 8px;
    // border: 1px solid;
    padding: 16px;
    width: 420px;
    position: relative;
    @media screen and (max-width: 766px) {
      width: auto;
    }
    &::after {
      content: "";
      position: absolute;
      background: rgba($color: #000000, $alpha: 0.5);
      left: 0;
      z-index: 2;
      top: 0;
      bottom: 0;
      right: 0;
    }
    h2 {
      font-size: 3vw;
      margin-bottom: 0.5em;
      color: white;
      padding: 0;
      position: relative;
      z-index: 4;
    }
    p {
      color: white;
      position: relative;
      z-index: 4;
    }
  }
}
.section-img {
  position: relative;
  display: flex;
}
.section-img-inner {
  height: 100vh;
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  mix-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  filter: blur(30px);
  opacity: 0;
  transition: 0.6s ease, opacity 0.6s ease, background-position 0.8s ease;
}
.section-img-inner.samp1 {
  background-image: url("https://awsimages.detik.net.id/community/media/visual/2022/07/16/manchester-united_169.jpeg?w=1200");
}
.section-img-inner.samp2 {
  background-image: url("https://awsimages.detik.net.id/community/media/visual/2022/07/26/arsenal_169.jpeg?w=1200");
}
.section-img-inner.samp3 {
  background-image: url("https://cdn1-production-images-kly.akamaized.net/nhjiDUSPHzvJ-An36kD4X19nQDw=/1200x675/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/4036417/original/071370700_1653790871-Selebrasi-Real-Madrid-Liga-Champions-AFP-8.jpg");
}
.section-img-inner.samp4 {
  background-image: url("https://awsimages.detik.net.id/community/media/visual/2022/07/26/barcelona_169.jpeg?w=1200");
}
.section-img-inner.samp5 {
  background-image: url("https://asset.indosport.com/article/image/342650/ac_milan_juara_1-169.jpg");
}
.section-body {
  display: flex;
  align-items: center;
}
.section-body-text {
  padding: 5vw;
}
.section.active .section-img-inner {
  opacity: 1;
  background-position: 50% 50%;
  filter: blur(0);
}
// .section h2 {
//   font-size: 3vw;
//   margin-bottom: 0.5em;
// }
.section > * {
  width: 50%;
}

.credit {
  background: yellow;
  padding: 32px;
  position: relative;
  z-index: 99;
}
