.background {
    margin: 0 auto;
    text-align: center;
    display: block;
    height: 100vh;
    position: relative;
    z-index: 999;
}

.background img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.d-block {
    display: block !important;
    height: 100% !important;
}

.cekis {
    float: right;
    width: fit-content;
    right: 24px;
}

.section {
    display: block;
    min-height: 100vh;
    position: relative;
    // z-index: 2;
    &-text {
        // backdrop-filter: blur(6px);
        // margin: 0 8px;
        // border: 1px solid;
        padding: 4px;
        // display: none;
        max-width: 320px;
        position: relative;
        background: rgba(0, 0, 0, .4);
        @media screen and (max-width: 766px) {
            width: auto;
            background: rgba(0, 0, 0, .6);
            padding: 8px;
        }
        &::after {
            // content: "";
            // position: absolute;
            // // background: rgba($color: #000000, $alpha: 0.5);
            // backdrop-filter: blur(8px);
            // left: 0;
            // z-index: 2;
            // top: 0;
            // bottom: 0;
            // right: 0;
        }
        h2,
        h1 {
            font-size: 28px;
            margin-bottom: 0.5em;
            color: white;
            padding: 0;
            font-weight: 700;
            position: relative;
            z-index: 4;
        }
        p {
            color: white;
            position: relative;
            z-index: 4;
            font-size: 14px;
            margin-bottom: 0;
            @media screen and (min-width: 1440px) {
                font-size: 20px;
            }
            @media screen and (max-width: 766px) {
                font-size: 12px;
                height: auto;
                overflow: hidden;
            }
        }
    }
}

.countings {
    position: absolute;
    bottom: 25px;
    // color: red;
    z-index: 80;
    color: white;
    transform: translate(-50%, 0%);
    left: 50%;
    font-size: 14px;
    @media screen and (min-width: 1440px) {
        right: 180px;
        position: absolute;
        bottom: 57px;
        z-index: 80;
        color: #fff;
        transform: initial;
        left: initial;
        font-size: 22px;
    }
    @media screen and (max-width:766px) {
        position: absolute;
        bottom: 25px;
        color: white;
        right: initial;
        z-index: 80;
        font-size: 14px;
        transform: translate(-50%, 0%);
        left: 50%;
    }
}

.information {
    position: absolute;
    bottom: 10%;
    padding: 8px 0;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    z-index: 99;
    font-size: 12px;
    width: 320px;
    text-align: center;
    background: rgba(0, 0, 0, .8);
    @media screen and (min-width: 1440px) {
        font-size: 16px;
    }
    @media screen and (max-width:766px) {
        font-size: 12px;
    }
}

.section-img {
    position: relative;
    display: flex;
}

.help-width {
    margin: 0 auto;
    width: 720px;
    @media screen and (max-width: 766px) {
        width: auto;
    }
}

.helpx {
    width: 100% !important;
    z-index: 90;
    right: initial !important;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    a {
        color: rgb(196, 100, 36);
        font-weight: bold;
    }
    @media screen and (max-width:766px) {
        right: initial !important;
    }
    .section-text {
        margin: 0 auto;
        // text-align: center;
        // width: 50%;
        max-width: 90%;
        // display: none;
        padding: 4px;
        display: block;
        @media screen and (min-width: 1440px) {
            width: 50%;
        }
        p {
            font-size: 14px;
            margin-bottom: 16px;
            @media screen and (max-width: 766px) {
                font-size: 12px;
            }
            @media screen and (min-width:1440px) {
                font-size: 20px;
                margin-bottom: 16px;
            }
        }
        @media screen and (max-width:766px) {
            width: 100%;
            right: initial !important;
            // background: red;
        }
    }
}

.section-img-inner {
    height: 100vh;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    mix-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    filter: blur(30px);
    opacity: 0;
    transition: 0.6s ease, opacity 0.6s ease, background-position 0.8s ease;
}

.section-img-inner.samp1 {
    background-image: url("../img/1.jpg");
    background-position: 50% 15% !important;
}

.section-img-inner.samp2 {
    background-image: url("../img/2.jpg");
    background-position: 50% 15% !important;
}

.section-img-inner.samp3 {
    background-image: url("../img/3.jpg");
    // background-position: 50% 0 !important;
    @media screen and (max-width: 766px) {
        background-position: 30% 50% !important;
    }
}

.section-img-inner.samp33 {
    background: #000;
    // background-image: url("../img/1.jpeg");
    // filter: blur(24px) !important;
    background-position: 50% 0 !important;
}

.section-img-inner.samp4 {
    background-image: url("../img/4.jpg");
    background-position: 50% 0 !important;
    @media screen and (max-width: 766px) {
        background-position: 50% 25% !important;
    }
}

.section-img-inner.samp5 {
    background-image: url("../img/5.jpg");
    @media screen and (max-width: 766px) {
        background-position: 45% 50% !important;
    }
}

.section-img-inner.samp6 {
    background-position: 50% 12% !important;
    background-image: url("../img/6.jpg");
    @media screen and (max-width: 766px) {
        background-position: 78% 50% !important;
    }
}

.section-img-inner.samp7 {
    background-image: url("../img/w.jpg");
    @media screen and (max-width: 766px) {
        background-position: 50% 50% !important;
    }
}

.section-img-inner.samp8 {
    background-image: url("../img/8.jpg");
    background-position: 50% 5% !important;
    @media screen and (max-width: 766px) {
        background-position: 80% 5% !important;
    }
}

.section-img-inner.samp9 {
    background-image: url("../img/9.jpg");
    @media screen and (max-width: 766px) {
        background-position: 85% 55% !important;
    }
}

.section-img-inner.samp10 {
    background-image: url("../img/10.jpg");
    @media screen and (max-width: 766px) {
        background-position: 15% 80% !important;
    }
}

.section-img-inner.samp11 {
    background-image: url("../img/11.jpg");
    @media screen and (max-width: 766px) {
        background-position: 40% 0% !important;
    }
}

.section-img-inner.samp12 {
    background-image: url("../img/12.jpg");
}

.section-img-inner.samp13 {
    background-image: url("../img/13.jpg");
    @media screen and (max-width: 766px) {
        background-position: 15% 0% !important;
    }
}

.section-body {
    display: block;
    align-items: center;
    margin-left: auto;
    order: 2;
    position: absolute;
    margin-right: 16px;
    width: auto;
    right: 16px;
    bottom: 16px;
    &.leftx {
        right: auto;
        left: 16px;
    }
    @media screen and (max-width: 766px) {
        width: 50%;
    }
}

.close-info {
    position: absolute;
    top: -16px;
    right: -8px;
    background: white;
    color: black;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    // padding: 3px;
    transition: .3s;
    i {
        // padding: 4px;
        // font-size: 18px;
        @media screen and (max-width: 766px) {}
        @media screen and (min-width: 1440px) {
            font-size: 22px;
            padding-top: 2px;
        }
    }
    &:hover {
        background: #ccc;
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.section-body-text {
    padding: 5vw;
}

.section.active .section-img-inner {
    opacity: 1;
    background-position: 50% 50%;
    filter: blur(0);
}

// .section h2 {
//   font-size: 3vw;
//   margin-bottom: 0.5em;
// }
.section>* {
    // width: 50%;
}

.no-fade {
    position: relative;
    z-index: 49;
    height: 100vh;
    .full-page {
        position: relative;
        width: 100%;
        .image {
            height: 100vh;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .content {
            position: absolute;
            // display: none;
            bottom: 116px;
            right: 24px;
            color: white;
            z-index: 99;
            // color: #fff;
            background: rgba($color: #000000, $alpha: .6);
            // backdrop-filter: blur(8px);
            max-width: 320px;
            // text-shadow: 1px 1px black;
            // padding: 8px;
            // font-size: 14px;
            // text-align: right;
            font-size: 14px;
            padding: 4px;
            // bottom: 74px;
            @media screen and (max-width: 766px) {
                bottom: 74px;
                width: fit-content;
            }
            @media screen and (min-width:1440px) {
                bottom: 116px;
                font-size: 20px;
            }
            &.leftx {
                text-align: left;
                right: initial;
                left: 24px;
            }
        }
    }
}

.credit {
    backdrop-filter: blur(12px);
    // padding: 32px;
    height: 100vh;
    position: relative;
    z-index: 101;
    .alls {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .font-std {
        font-size: 2rem !important;
        @media screen and (max-width: 766px) {
            font-size: 16px !important;
        }
    }
    .thumb {
        width: 25vw;
        margin: 8px 0px;
        height: 280px;
        display: inline-block;
        position: relative;
        margin-bottom: 8px;
        @media screen and (min-width: 1800px) {
            width: 25vw;
            height: 420px;
        }
        @media screen and (max-width:766px) {
            width: 100%;
            margin: 0 auto;
            height: auto;
            position: relative;
            margin-bottom: 8px;
        }
        .image {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .ceki {
            position: absolute;
            bottom: 0;
            height: 100%;
            right: 0;
            left: 0;
            z-index: 9;
            background: linear-gradient(to top, black, transparent);
            transition: .2s;
            &:hover {
                opacity: .4;
            }
        }
        .namax {
            position: absolute;
            left: 8px;
            bottom: 8px;
            width: 60%;
            text-align: left;
            font-size: 16px;
            color: white;
            @media screen and (max-width: 766px) {
                font-size: 12px;
                width: 45%;
            }
        }
        .fax {
            position: absolute;
            right: 8px;
            bottom: 8px;
            color: white;
            font-size: 16px;
        }
    }
    .detikx {
        width: 120px !important;
    }
    a {
        &:hover {
            text-decoration: none !important;
        }
    }
    .padding {
        padding: 8px;
        // border: 3px solid white;
    }
    .kotak {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        // backdrop-filter: blur(12px);
    }
    h2 {
        // border: 1px solid;
        padding: 8px;
    }
    .jobdesc {
        color: #fafafa;
        margin-top: 16px;
        font-size: 14px;
    }
    .naming {
        font-size: 16px;
        color: #fff;
        font-weight: bold;
    }
    &:after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        content: "";
        z-index: 1;
        background: rgba($color: #fff, $alpha: 0.1);
    }
    h2 {
        font-weight: 700;
        position: relative;
        z-index: 9;
    }
    img {
        position: relative;
        z-index: 9;
    }
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-detik {
    position: fixed;
    left: 12px;
    top: 12px;
    z-index: 999;
    width: 90px;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    @media screen and (max-width: 766px) {
        top: 12px;
        // left: ;
        width: 80px;
    }
}

#nav {
    display: none !important;
}

.footer {
    z-index: 999 !important;
}

.logo-detik-footer {
    width: 150px;
    height: auto;
    position: relative;
    z-index: 999;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    @media screen and (max-width: 766px) {
        width: 150px;
    }
}

.info_ {
    position: absolute;
    display: block;
    bottom: 18%;
    @media screen and (min-width: 1440px) {
        bottom: 17%;
    }
    left: 49%;
    // width: 100%;
    color: #fff;
    z-index: 999;
    margin: 0 auto;
    transform: translate(-50%,
    -15%);
    width: fit-content;
    // @media screen and (max-width: 766px) {
    //   // bottom: 16px;
    //   width: 100%;
    //   margin-bottom: 12px;
    //   bottom: 10%;
    //   // border: 1px solid;
    // }
    @media screen and (max-width: 739px) {
        // bottom: 16px;
        width: 100%;
        margin-bottom: 12px;
        bottom: 20%;
        // border: 1px solid;
    }
    // text-align: center;
    h2 {
        font-weight: bold;
        font-size: 30px;
        text-shadow: 2px 2px black;
        text-align: center;
        font-family: 'Montserrat';
        @media screen and (min-width: 1440px) {
            font-size: 45px;
        }
        @media screen and (max-width: 766px) {
            font-size: 2rem;
            margin: 0 8px;
            text-align: center;
        }
    }
    // background: rgba(0, 0, 0, 0.6);
    // padding: 4px 0;
    // }
}

.isdesktop {
    display: block;
    @media screen and (max-width: 766px) {
        display: none;
    }
}

.ismobile {
    display: none;
    @media screen and (max-width: 766px) {
        display: block;
    }
}

.order {
    order: -1;
    margin-left: 16px;
    @media screen and (max-width: 766px) {
        margin-left: 0;
    }
}

.btn-modal {
    background: rgba($color: #fff, $alpha: .5);
    position: relative;
    z-index: 99;
    font-weight: 700;
    // font-weight: 700;
    cursor: pointer;
    &:focus,
    &:hover {
        box-shadow: none;
        background: rgba($color: #000000, $alpha: .5);
        color: white;
    }
}

.creator {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
    @media screen and (min-width: 1440px) {
        transform: translate(-50%, 100%);
    }
    @media screen and (max-width:766px) {
        transform: translate(-50%, 100%);
    }
    width: auto;
    text-align: center;
    color: #fafafa;
    // bottom: 240px;
    font-weight: bold;
    // background: rgba($color: #000000, $alpha: 0.3);
    padding: 8px;
    // text-shadow: 2px 2px #000;
    z-index: 999;
    // border: 2px solid;
    // &:after {
    //   content: '';
    //   border: 2px solid red;
    //   width: 80%;
    // }
    span,
    div {
        // color: #c3e6ff;
        // border-bottom: 1px solid;
        /* text-shadow: 1px 1px white; */
        font-size: 15px;
        @media screen and (min-width: 1440px) {
            font-size: 18px;
        }
        @media screen and (max-width: 766px) {
            // bottom: 120px;
            // width: 255px;
            // left: 8px;
            font-size: 14px;
        }
    }
}

.sticky {
    position: fixed !important;
    top: 20px;
    z-index: 99;
    width: 100%;
    right: 0;
    @media screen and (max-width: 766px) {
        top: 40px;
    }
}

#play-button {
    position: relative;
    .teks {
        position: absolute;
        right: 24px;
        top: -16px;
        font-style: italic;
        font-weight: bold;
        background: rgba($color: white, $alpha: 0.5);
        @media screen and (max-width: 766px) {
            display: none;
        }
    }
}

// p {
//   text-align: justify;
// }
.play-button {
    width: 36px;
    height: 36px;
    // border: 3px solid;
    background: white;
    margin: 8px;
    cursor: pointer;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    // position: fixed;
    // top: 0;
    position: absolute;
    @media screen and (max-width: 766px) {
        top: -40px;
        right: -8px;
    }
    right: 0;
    z-index: 999;
    i {
        // background-color: red;
        font-size: 36px;
        transition: 0.3s;
        &:hover,
        &:focus,
        &:active {
            color: #2b88b4;
        }
    }
}

.alls {
    display: none;
    @media screen and (max-width: 739px) {
        display: block;
    }
    &__text {
        position: absolute;
        left: 50%;
        top: 54px;
        color: #fff;
        font-size: 12px;
        transform: translate(-50%, 50%);
        text-align: center;
    }
}

.phones {
    position: absolute;
    left: 50%;
    color: white;
    top: 32px;
    animation: rotate 1.5s ease-in-out infinite alternate;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    20% {
        -webkit-transform: rotate(30deg);
    }
    25% {
        -webkit-transform: rotate(40deg);
    }
    45% {
        -webkit-transform: rotate(90deg);
    }
    50% {
        -webkit-transform: rotate(90deg);
    }
    70% {
        -webkit-transform: rotate(70deg);
    }
    75% {
        -webkit-transform: rotate(30deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

.seven {
    img {
        // height: 125% !important;
    }
}

.othersx {
    .thumb {}
}